@media (max-width: 768px) {
    .formulario-contato {
        max-width: 90%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.titulo{
    font-family: 'Sarala', sans-serif;
    font-size: 54px;
}

.subtitulo{
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
}

.botao{
    font-family: 'Sarala', sans-serif;
    font-size: 20px; 
}

