/* ESTILO GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #8617CF;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-edit {
    color: #5c5c5c;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.titulo-edit {
    color: #4CBD49;
    font-size: 38px;
    text-align: center;
}

/* ESTILO DO CABEÇALHO */
.cabecalho {
    padding: 40px 4px;
    background-color: #5A0E99;
}

.cabecalho>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-edit {
    height: 74px;
}

.menu-ul {
    list-style-type: none;
}

.menu-li {
    display: inline-block;
    padding: 0 40px;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

.menu-link:hover {
    color: #5c5c5c;
    transform: scale(1.1);
}

.btn-edit:hover {
    color: #000;
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.1);
}

/*ESTILO PRINCIPAL*/
.topo-do-site {
    padding: 40px 4%;
}

.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.titulo-principal-edit {
    color: #4CBD49;
    font-size: 42px;
    line-height: 40px;
}

.subtitulo-principal-edit {
    color: #4CBD49;
    font-size: 30px;
}

.txt-principal-edit {
    color: #fff;
    margin: 40px 0;
}

.img-edit {
    border-radius: 50%;
    height: 400px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

.especialidades {
    padding: 40px 4%;
}

.flex {
    gap: 60px;
}

.especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .3s;
}

.especialidades-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px #fff;
}

.especialidades-box i {
    font-size: 70px;
    color: #4CBD49;
}

.subtitulo-edit {
    font-size: 28px;
    margin: 15px 0;
}

.flex-2 {
    gap: 60px;
}











/* Estilos do conteúdo terceiro */
.conteudo-terceiro {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.coluna {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #4CBD49;
    margin-top: 25px;
    transition: .3s;
}

.coluna:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #4CBD49;
}

.conteudo-terceiro-titulo {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #4CBD49;
}

.conteudo-terceiro-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24PX;
    color: white;
}

/* Estilos do rodapé */
.rodape {
    background-color: #5A0E99;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.rodape-principal {
    margin: 20px;
    text-align: center;
    color: white;
}

.rodape-principal:hover {
    transform: scale(1.1);
    background-position: -60px;
    transition: .3s;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}

.rodape-paragrafo {
    margin-top: 2px;
    font-family: 'Sarala', sans-serif;
}