* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    background: rgb(126, 17, 198);
    transition: opacity 1s ease-in-out;
}

.cabecalho{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.programador-imagem {
    margin-top: 20px;
    position: relative;
    width: 30%;
    height: 400px;
    margin-left: 20px;
}

.programador-formacoes-titulo{
    margin-left: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #4CBD49;
}

.programador-formacoes-escrito{
    margin-left: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20PX;
    color: white;
}

.programador-sobre{
    flex: 1;
    padding: 20px;
    text-align: center;
}

.programador-sobre-titulo{

}

.programador-sobre-conteudo{

}