* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    background: rgb(126, 17, 198);
    transition: opacity 1s ease-in-out;
}

.cabecalho{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem-programador {
    height: 100px;
}

.escrito-principal{
    display: flex;
    flex-direction: column;
    gap: 32px;
}