* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    background: rgb(126, 17, 198);
    transition: opacity 1s ease-in-out;
}

.cabecalho-programador {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.cabecalho-programador-info {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.cabecalho-programador-info-imagem {
    position: relative;
    width: 500px;
    height: 500px;
}

.cabecalho-programador-conteudo {
    flex: 1;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
}

.cabecalho-programador-conteudo-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 100px;
    color: #4CBD49;
}

.cabecalho-programador-conteudo-texto {
    margin-bottom: 200px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.cabecalho-programador-formacoes {
    display: flex;
    flex-direction: column; /* Para empilhar os elementos verticalmente */
    align-items: center; /* Alinhe os elementos horizontalmente ao centro */
    text-align: center; /* Alinhe o texto ao centro */
    margin-top: 20px; /* Adicione um espaçamento superior opcional */
}

.cabecalho-programador-formacoes-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #4CBD49;
}

.cabecalho-programador-formacoes-escrito {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
}

.cabecalho-programador-formacoes-escrito i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    font-size: 24px; /* Tamanho do ícone */
    color: #4CBD49; /* Cor do ícone */
}
